.arrows {
  display: flex;

  @media (min-width: $screen-tablet) {
    width: 175px;
  }
}

.arrows__item {
  background-color: $white;
  border: $border;
  min-height: 52px;
  transition: all 0.2s ease;

  @media (min-width: $screen-tablet) {
    border: none;
  }

  &--prev {
    background: url("../img/icon-left-arrow.svg") center center no-repeat;
    width: 50%;
  }

  &--next {
    background: url("../img/icon-right-arrow.svg") center center no-repeat;
    width: 50%;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
