.arrows {
  display: flex;

  @media (min-width: $screen-tablet) {
    width: 175px;
  }
}

.arrows__item {
  background-color: $white;
  border: $border;
  min-height: 52px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  transition: all 0.2s ease;

  @media (min-width: $screen-tablet) {
    border: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.arrows__item--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.arrows__item--next {
  background-image: url("../img/icon-right-arrow.svg");
}
