.btn {
  @include font-set(17px, 20px, bold);
  display: block;
  padding: 15px 0;
  background-color: $white;
  color: $color-font;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid $color-font;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-font;
    color: $white;
  }

  &:checked {
    background-color: $color-font;
    color: rgba($white, 0.3);
  }

  &--blue {
    width: 100%;
    background-color: $color-primary;
    border-color: $color-primary;
    color: $white;
  }
}
