.catalog__list {
  list-style: none;

  @media (min-width: $screen-tablet) {
    margin-top: 80px;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-top: 30px;
  border: $border;
  transition: all 0.2s ease;

  @media (min-width: $screen-tablet) {
    margin-top: 52px;
  }

  @media (min-width: $screen-desktop) {
    width: 316px;
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:not(:nth-child(3n)) {
  @media (min-width: $screen-desktop) {
    margin-right: 50px;
  }
}
