.catalog__list {
  list-style: none;

  @media (min-width: $screen-tablet) {
    margin-top: 80px;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-top: 30px;
  border: $border;

  @media (min-width: $screen-tablet) {
    margin-top: 52px;
  }

  @media (min-width: $screen-desktop) {
    width: 316px;
    margin-bottom: 30px;
  }
}

.catalog__item:not(:nth-child(3n)) {
  @media (min-width: $screen-desktop) {
    margin-right: 50px;
  }
}
