.categories {
  margin-bottom: 29px;
}

.categories__list {
  @include list-reset();

  @media (min-width: $screen-tablet) {
    @include wrapper;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $screen-tablet;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.categories__item {
  @include font-set(19px, 24px, bold);
  background-color: $color-primary;

  @media (min-width: $screen-tablet) {
    width: 50%;
  }
}

.categories__item--toy {
  background-color: $color-primary--darker;
}

.categories__link {
  display: block;
  color: $white;
  padding: 28px;
  padding-bottom: 29px;

  @media (min-width: $screen-tablet) {
    width: 180px;
  }
}
