.categories {
  margin-bottom: 29px;
  background: #f9f9f9;

  @media (min-width: $screen-tablet) {
    position: relative;
  }
}

.categories__list {
  @include list-reset();

  @media (min-width: $screen-tablet) {
    @include wrapper;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $screen-tablet;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.categories__item {
  transition: all 0.2s ease;

  @include font-set(19px, 24px, bold);
  position: relative;
  background-color: $color-primary;
  color: $white;

  @media (min-width: $screen-tablet) {
    @include font-set(20px, 30px, bold);
    width: 50%;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.categories__item--interior {
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;
    background-color: $color-primary;
    background-image: url("../img/icon-interior.svg");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;

    @media (min-width: $screen-tablet) {
      top: 29px;
    }
  }

  &:hover {
    background-color: $color-primary--dark;
    box-shadow: 0 5px $color-primary--dark;

    &::before {
      opacity: 0.7;
    }
  }

  &:active::before {
    opacity: 0.3;
  }
}

.categories__item--toy {
  background-color: $color-primary--darker;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 20px;
    right: 27px;
    background-color: $color-primary--darker;
    background-image: url("../img/icon-toy.svg");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;

    @media (min-width: $screen-tablet) {
      top: 31px;
      right: 35px;
    }
  }

  &:hover {
    background-color: $color-primary--darkest;
    box-shadow: 0 5px $color-primary--darkest;

    &::before {
      opacity: 0.7;
    }
  }

  &:active::before {
    opacity: 0.3;
  }
}

.categories__link {
  display: block;
  color: inherit;
  padding: 28px;
  padding-bottom: 29px;

  @media (min-width: $screen-tablet) {
    width: 180px;
    padding-top: 29px;
    padding-left: 35px;
  }
}
