.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.contacts__title {
  @include font-set(18px, 30px, bold);
}

.contacts__list {
  @include list-reset;
}

.contacts__item {
  @include font-set(15px, 30px);
  color: $color-font;
}

.contacts__email {
  @include font-set(15px, 30px);
  color: $color-font;
}

.contacts__map-img {
  background-size: 100%;
}
