.copyright__link {
  @include font-set(19px, 18px, bold);
  color: $black;
  display: flex;
  justify-content: center;

  &:hover .copyright__link-image,
  &:focus .copyright__link-image {
    fill: $color-primary--darkest;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}

.copyright__link-text {
  padding-top: 5px;
}

.copyright__link-image {
  margin-left: 30px;
  fill: $color-primary;
  transition: all 0.2s ease;
}
