.field {
  padding-bottom: 6px;
  padding-top: 2px;
}

.field__name {
  @include font-set(17px, 18px, bold);

  @media (min-width: $screen-tablet) {
    @include font-set(19px, 18px);
    margin: auto;
    margin-right: 25px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 4px;
  }
}

.field__input {
  @include font-set(17px, 18px);
  color: $color-font;
  width: 100%;
  padding: 11px 0;
  border: none;
  border-bottom: 2px $border-type $black;

  &:hover,
  &:focus {
    border-bottom: 2px $border-type $color-primary--light;
    outline: none;
  }

  &::placeholder {
    color: rgba($color-font, 0.3);
  }

  @media (min-width: $screen-tablet) {
    @include font-set(19px, 18px);
    padding-top: 14px;
    padding-right: 0;
    padding-left: 15px;
    padding-bottom: 14px;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 13px;
  }
}

.field__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $screen-tablet) {
    display: flex;
  }
}
