.intro {
  background-color: $color-bg;

  @media (min-width: $screen-tablet) {
    margin-top: -70px;
    border-top: $border;
  }
}

.intro__delivery-wrapper {
  display: none;

  @media (min-width: $screen-tablet) {
    @include font-set(15px, 24px);
    display: block;
    padding-top: 17px;
    text-align: right;
    font-weight: normal;
    width: 768px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.intro__title {
  @include font-set(27px, 30px, bold);
  text-align: center;
  padding-top: 72px;
  padding-left: 38px;
  padding-right: 38px;
  margin: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(43px, 50px, bold);
    padding-top: 112px;
  }
}

.intro--main {
  min-height: 283px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") center -18px no-repeat;

  @media (min-width: $screen-tablet) {
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") center 0 no-repeat;
    min-height: 626px;
  }
}
