.intro {
  background-color: $color-bg;
  min-height: 177px;

  @media (min-width: $screen-tablet) {
    position: relative;
    margin-top: -70px;
    border-top: $border;
  }

  @media (min-width: $screen-desktop) {
    margin-top: -70px;
  }
}

.intro__delivery-wrapper {
  display: none;

  @media (min-width: $screen-tablet) {
    @include font-set(15px, 24px);
    display: block;
    padding-top: 17px;
    text-align: right;
    font-weight: normal;
    width: 768px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.intro__title {
  @include font-set(27px, 30px, bold);
  text-align: center;
  padding-top: 72px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    @include font-set(43px, 50px, bold);
    padding-top: 54px;
    padding-bottom: 79px;
    max-width: $screen-tablet;
  }

  @media (min-width: $screen-desktop) {
    @include font-set(53px, 57px, bold);
    padding-bottom: 101px;
    max-width: $screen-desktop;
  }
}

.intro__title--main {
  @media (min-width: $screen-tablet) {
    padding-top: 112px;
  }
}

.intro--main {
  min-height: 281px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") center -18px no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 577px auto;
  }

  @media (min-width: $screen-tablet) {
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") center 0 no-repeat;
    min-height: 626px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  @media (min-width: $screen-desktop) {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
