.main-nav {
  position: relative;
}

.main-nav__toggler {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 30px;
  overflow: visible;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: $black;
    transition: all 0.2s ease-in-out;
  }

  &::before {
    top: 2px;
    right: 0;
    box-shadow: 0 6px 0 0 $black;
  }

  &::after {
    top: 14px;
    right: 0;
  }

  @media (min-width: $screen-tablet) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggler::before,
.main-nav--opened .main-nav__toggler::after {
  width: 27px;
  top: 8px;
  right: -3px;
  transition: all 0.2s ease-in-out;
}

.main-nav--opened .main-nav__toggler::before {
  box-shadow: 0 6px 0 0 transparent;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggler::after {
  transform: rotate(-45deg);
}
