.modal__wrapper {
  padding: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: $border-secondary;

  @media (min-width: $screen-tablet) {
    width: 566px;
    padding-right: 102px;
    padding-left: 107px;
    padding-top: 33px;
    padding-bottom: 46px;
  }
}

.modal__title {
  @include font-set(25px, 30px, bold);
  color: $black;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    @include font-set(30px, 57px, bold);
    margin: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 566px;
  max-height: 100%;
  background-color: $white;
  z-index: 21;

  &--opened {
    display: block;
  }
}

.modal__text {
  @media (min-width: $screen-tablet) {
    @include font-set(17px, 30px);
    text-align: center;
    margin-top: 13px;
    padding-right: 5px;
    margin-bottom: 0;
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  z-index: 20;

  &--opened {
    display: block;
  }
}

.modal__form {
  @media (min-width: $screen-tablet) {
    padding-right: 4px;
    padding-top: 23px;
  }
}
