.order-form__text {
  @include font-set(13px, 24px);
  color: $color-font;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 30px);
  }
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__inner {
  margin-top: 33px;

  @media (min-width: $screen-tablet) {
    display: flex;
  }
}

.order-form__legend {
  @include font-set(17px, 16px, bold);
  margin-bottom: 27px;
  display: block;
  text-transform: uppercase;
  color: $color-primary;

  @media (min-width: $screen-tablet) {
    width: 166px;
  }
}

.order-form__item-list {
  @include list-reset;

  @media (min-width: $screen-tablet) {
    width: 100%;
  }
}

.order-form__footer {
  margin: 30px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.order-form__footnote {
  @include font-set(14px, 16px);
  color: $color-font;
  display: block;
  margin-bottom: 30px;
}
