.page-footer {
  margin-top: 38px;
  background-color: $color-bg;

  @media (min-width: $screen-tablet) {
    margin-top: 50px;
  }
}

.page-footer__wrapper {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.page-footer__copyright {
  border-top: $border;
  padding: 21px 37px;
  padding-top: 23px;

  @media (min-width: $screen-tablet) {
    padding: 0;
    padding-top: 9px;
    border: none;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $screen-tablet) {
    display: block;
    width: 102px;
    height: 39px;
    padding-bottom: 5px;
  }

  &:hover .page-footer__logo-image,
  &:focus .page-footer__logo-image {
    fill: $color-primary--darkest;
  }

  &:active .page-footer__logo-image {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}

.page-footer__logo-image {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}
