.page-footer {
  margin-top: 58px;
  background-color: $color-bg;
}

.page-footer__wrapper {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.page-footer__copyright {
  border-top: $border;
}

.page-footer__logo {
  display: none;

  @media (min-width: $screen-tablet) {
    display: block;
  }
}

.page-footer__social {
  @media (min-width: $screen-tablet) {
    width: 228px;
  }
}
