.player__btn {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 101px;
  height: 77px;
  margin-right: -51px;
  margin-top: -39px;
}

.player__screen {
  @media (min-width: $screen-tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $screen-desktop) {
    width: 682px;
  }
}
