.product {
  @media (min-width: $screen-tablet) {
    display: flex;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: column;
  }
}

.product__info {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 335px;
  }

  @media (min-width: $screen-desktop) {
    width: 314px;
  }
}

.product__title {
  @include font-set(17px, 24px, bold);
  color: $black;
  margin-top: 27px;
  margin-bottom: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(20px, 24px, bold);
  }

  @media (min-width: $screen-desktop) {
    margin-top: 24px;
  }
}

.product__title-link {
  display: block;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $screen-desktop) {
    width: 316px;
    height: 462px;
  }
}

.product__stats {
  @include font-set(13px, 30px);
  color: $color-font;
  margin-top: 7px;
  margin-bottom: 19px;

  @media (min-width: $screen-tablet) {
    @include font-set(15px, 30px);
    margin-top: 4px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 15px;
  }
}

.product__top-wrapper {
  margin-left: 27px;
  margin-right: 30px;
}

.product__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 29px;
  border-top: $border;

  @media (min-width: $screen-tablet) {
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 27px;
  }
}

.product__price {
  @include font-set(15px, 24px, bold);
  color: $black;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 24px, bold);
    padding-left: 4px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 0;
  }
}

.product__order-link {
  display: block;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;

  &:hover .product__order-image,
  &:focus .product__order-image {
    fill: $color-primary;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &:active .product__order-image {
    opacity: 0.3;
  }
}

.product__order-image {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  transition: color 0.2s ease;
}
