.production__wrapper {
  border: $border;
  margin-top: 30px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $screen-desktop) {
    position: relative;
    align-items: flex-end;
    margin-top: 26px;
    margin-bottom: 50px;
  }
}

.production__title {
  @include font-set(17px, 24px, bold);
  color: $black;
  margin-top: 29px;
  margin-bottom: 26px;
  padding-left: 90px;
  padding-right: 90px;

  @media (min-width: $screen-tablet) {
    @include font-set(20px, 24px, bold);
    order: 2;
  }

  @media (min-width: $screen-desktop) {
    width: 230px;
    margin-left: 80px;
    margin-right: 57px;
    margin-top: 100px;
    margin-bottom: 42px;
    padding: 0;
  }
}

.production__about {
  @include font-set(13px, 24px);
  color: $color-font;

  padding-bottom: 30px;
}

.production__player {
  position: relative;
  text-align: center;
  width: 260px;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: 668px;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }
}

.production__info {
  margin-top: 34px;
  margin-left: 34px;
  margin-right: 34px;

  @media (min-width: $screen-tablet) {
    order: 3;
  }

  @media (min-width: $screen-desktop) {
    width: 230px;
    margin-left: 80px;
    margin-right: 57px;
    margin-top: 0;
    margin-bottom: 60px;
  }
}
