.production {
  @media (min-width: $screen-tablet) {
    width: 669px;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.production__wrapper {
  border: $border;
  margin-top: 30px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
  }
}

.production__title {
  @include font-set(17px, 24px, bold);
  color: $black;
  margin-top: 29px;
  margin-bottom: 26px;

  @media (min-width: $screen-tablet) {
    order: 2;
  }
}

.production__about {
  @include font-set(13px, 24px);
  color: $color-font;

  padding-bottom: 30px;
}

.production__player {
  @media (min-width: $screen-tablet) {
    order: 1;
  }
}

.production__info {
  margin-top: 34px;
  margin-left: 34px;
  margin-right: 34px;

  @media (min-width: $screen-tablet) {
    order: 3;
  }
}
