.production__wrapper {
  border: $border;
  margin-top: 30px;
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    margin-bottom: 6px;
  }

  @media (min-width: $screen-desktop) {
    position: relative;
    align-items: flex-end;
    margin-top: 26px;
    margin-bottom: 50px;
  }

  &:hover {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  @include font-set(17px, 24px, bold);
  color: $black;
  margin-top: 23px;
  margin-bottom: 26px;
  padding-left: 90px;
  padding-right: 20px;
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 33px 6px;

  @media (min-width: $screen-tablet) {
    @include font-set(20px, 24px, bold);
    order: 2;
    margin-top: 38px;
    margin-bottom: 0;
    padding-left: 106px;
    background-position: 41px -5px;
  }

  @media (min-width: $screen-desktop) {
    width: 230px;
    margin-left: 80px;
    margin-right: 57px;
    margin-top: 0;
    margin-bottom: 18px;
    padding: 0;
    padding-top: 95px;
    background-position: 0 36px;
  }
}

.production__about {
  @include font-set(13px, 24px);
  color: $color-font;
  padding-bottom: 16px;

  @media (min-width: $screen-tablet) {
    @include font-set(15px, 30px);
    margin-bottom: 18px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 29px;
  }
}

.production__player {
  position: relative;
  text-align: center;
  width: 260px;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: 668px;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
  }
}

.production__info {
  margin-top: 28px;
  margin-left: 34px;
  margin-right: 34px;

  @media (min-width: $screen-tablet) {
    order: 3;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 17px;
  }

  @media (min-width: $screen-desktop) {
    width: 230px;
    margin-left: 80px;
    margin-right: 57px;
    margin-top: 0;
    margin-bottom: 25px;
  }
}

.production__btn {
  margin-bottom: 31px;

  @media (min-width: $screen-tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 35px;
  }
}
