.reviews__wrapper {
  padding-top: 56px;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff url("../img/review@1x.jpg") left top no-repeat;
    margin-top: 82px;
    padding-top: 78px;
    padding-bottom: 130px;
  }
}

.reviews__title {
  @include font-set(25px, 30px, bold);
  margin: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(43px, 50px, bold);
  }
}

.reviews__items {
  @media (min-width: $screen-tablet) {
    order: 1;
  }
}

.reviews__item {
  margin: 0;
  padding-top: 24px;

  @media (min-width: $screen-tablet) {
    padding-top: 45px;
  }
}

.reviews__text {
  @include font-set(15px, 30px);
  color: $color-font;
  margin: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 30px);
    margin-bottom: 35px;
  }
}

.reviews__author {
  display: block;
  padding-top: 27px;
  padding-bottom: 30px;
  font-style: normal;

  @media (min-width: $screen-tablet) {
    padding-bottom: 0;
  }
}

.reviews__author-name {
  @include font-set(17px, 24px, bold);

  @media (min-width: $screen-tablet) {
    @include font-set(18px, 24px, bold);
  }
}

.reviews__author-link {
  @include font-set(17px, 30px);
  display: block;
  padding-top: 3px;
}

.reviews__btn {
  margin-top: 38px;

  @media (min-width: $screen-tablet) {
    margin: 0;
    width: 175px;
  }
}

.reviews__toggles {
  @media (min-width: $screen-tablet) {
    position: absolute;
    right: 50px;
    bottom: 133px;
  }
}
