.reviews {
  @media (min-width: $screen-desktop) {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.reviews__wrapper {
  padding-top: 56px;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $screen-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: url("../img/review@1x.jpg") left top no-repeat;
    margin-top: 82px;
    padding-top: 78px;
    padding-bottom: 130px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: auto 456px;
    }
  }

  @media (min-width: $screen-desktop) {
    margin-top: 89px;
    margin-bottom: 70px;
    padding-top: 71px;
    padding-left: 172px;
    padding-right: 0;
    padding-bottom: 185px;
  }

}

.reviews__title {
  @include font-set(25px, 30px, bold);
  margin: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(43px, 50px, bold);
  }

  @media (min-width: $screen-desktop) {
    @include font-set(53px, 57px, bold);
    padding-bottom: 4px;
  }
}

.reviews__items {
  @media (min-width: $screen-tablet) {
    order: 1;
  }
}

.reviews__item {
  margin: 0;
  padding-top: 24px;

  @media (min-width: $screen-tablet) {
    padding-top: 45px;
  }

  @media (min-width: $screen-desktop) {
   padding-left: 3px;
   padding-top: 45px;
   padding-right: 90px;
  }
}

.reviews__text {
  @include font-set(15px, 30px);
  color: $color-font;
  margin: 0;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 30px);
    margin-bottom: 35px;
  }

  @media (min-width: $screen-desktop) {
    margin-bottom: 16px;
  }
}

.reviews__author {
  display: block;
  padding-top: 27px;
  padding-bottom: 30px;
  font-style: normal;

  @media (min-width: $screen-tablet) {
    padding-bottom: 0;
  }
}

.reviews__author-name {
  @include font-set(17px, 24px, bold);

  @media (min-width: $screen-tablet) {
    @include font-set(18px, 24px, bold);
  }

  @media (min-width: $screen-desktop) {
    @include font-set(17px, 24px, bold);
  }
}

.reviews__author-link {
  @include font-set(17px, 30px);
  display: block;
  padding-top: 3px;
}

.reviews__btn {
  margin-top: 38px;

  @media (min-width: $screen-tablet) {
    margin: 0;
    width: 175px;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 7px;
  }
}

.reviews__toggles {
  @media (min-width: $screen-tablet) {
    position: absolute;
    right: 50px;
    bottom: 133px;
  }

  @media (min-width: $screen-desktop) {
    right: 0;
    bottom: 188px;
  }
}
