.site-list {
  @include font-set(17px, 24px, bold);
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    @include wrapper;
    flex-direction: row;
    flex-wrap: wrap;
    width: $screen-tablet;
  }

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
  }
}

.site-list__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 29px;
  color: $black;

  @media (min-width: $screen-tablet) {
    padding-top: 29px;
    padding-bottom: 28px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 18px;
  }
}

.site-list__link--logo {
  padding-top: 22px;
  padding-bottom: 18px;

  @media (min-width: $screen-desktop) {
    padding-bottom: 0;
    padding-top: 9px;
    padding-right: 20px;
  }
}


.site-list__link--catalog {
  @media (min-width: $screen-tablet) {
    padding-top: 14px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 30px;
  }
}

.site-list__link--order {
  @media (min-width: $screen-tablet) {
    padding-top: 14px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 30px;
    text-align: right;
  }
}

.site-list__link--cart {
  @media (min-width: $screen-desktop) {
    padding-top: 28px;
  }
}

.site-list__item {
  padding-left: 76px;
  padding-right: 76px;
  box-shadow: 0 1px 0 0 $grey--light, inset 0 1px 0 0 $grey--light;

  @media (min-width: $screen-tablet) {
    @include font-set(15px, 24px, bold);
    box-shadow: none;
    padding: 0;
  }
}

.site-list__item--logo {
  display: block;
  text-align: center;

  @media (min-width: $screen-tablet) {
    order: 1;
    width: 320px;
    text-align: left;
  }

  @media (min-width: $screen-desktop) {
    order: 3;
    text-align: center;
  }
}

.site-list__item--search {
  @media (min-width: $screen-tablet) {
    font-size: 0;
    width: 84px;
    order: 2;
    border-left: $border;
    border-right: $border;
    margin-left: auto;
    margin-bottom: 3px;
  }

  @media (min-width: $screen-desktop) {
    order: 4;
    margin-bottom: 0;
  }
}

.site-list__item--cart {
  padding-right: 60px;

  @media (min-width: $screen-tablet) {
    order: 3;
    font-size: 17px;
    width: 264px;
    text-align: right;
    padding-left: 60px;
    padding-right: 0;
  }

  @media (min-width: $screen-desktop) {
    order: 5;
    width: 266px;
  }
}

.site-list__item--catalog {
  @media (min-width: $screen-tablet) {
    order: 4;
    width: 168px;
  }

  @media (min-width: $screen-desktop) {
    @include font-set(17px, 24px, bold);
    order: 1;
    width: 183px;
    border-right: $border;
  }
}

.site-list__item--order {
  @media (min-width: $screen-tablet) {
    order: 5;
    width: 168px;
  }

  @media (min-width: $screen-desktop) {
    @include font-set(17px, 24px, bold);
    order: 2;
    width: 191px;
  }
}

.site-list__item--new {
  display: none;

  @media (min-width: $screen-desktop) {
    display: block;
    order: 6;
    margin-right: 60px;
  }
}

.site-list__item--sale {
  display: none;

  @media (min-width: $screen-desktop) {
    display: block;
    order: 7;
  }
}

.site-list__logo-img {
  @media (min-width: $screen-tablet) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $screen-desktop) {
    width: 149px;
    height: 72px;
  }
}
