.social__list {
  @include list-reset;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;

  @media (min-width: $screen-tablet) {
    padding-left: 82px;
  }
}

.social__item:not(:last-child) {
  margin-right: 41px;
}

.social__link {
  display: block;
  height: 21px;
  background-repeat: no-repeat;

  &--instagram {
    width: 22px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
  }
}

.social__icon {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;

  &:hover {
    fill: $color-primary--darkest;
  }

  &:active {
    opacity: 0.3;
  }
}
