.social__list {
  @include list-reset;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;

  @media (min-width: $screen-tablet) {
    padding-left: 82px;
  }
}

.social__item:not(:last-child) {
  margin-right: 41px;
}

.social__link {
  display: block;
  height: 21px;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    width: 22px;
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    width: 15px;
    height: 28px;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    width: 23px;
  }
}
