.weekly-good {
  @media (min-width: $screen-desktop) {
    width: 1150px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.weekly-good__wrapper {
  padding-bottom: 41px;
  position: relative;

  @media (min-width: $screen-tablet) {
    padding-bottom: 67px;
    margin: 0 auto;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 95px;
    padding-right: 0;
    padding-left: 0;
  }
}

.weekly-good__header {
  @media (min-width: $screen-tablet) {
    display: flex;
    padding-top: 18px;
  }

  @media (min-width: $screen-desktop) {
    align-content: flex-start;
    padding-top: 98px;
  }
}

.weekly-good__info {
  color: $color-font;

  @media (min-width: $screen-tablet) {
    width: 292px;
    margin-top: 50px;
    margin-bottom: 57px;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 175px;
    margin-bottom: 109px;
  }
}

.weekly-good__title {
  @include font-set(25px, 30px, bold);
  margin-top: 21px;
  margin-bottom: 2px;

  @media (min-width: $screen-tablet) {
    @include font-set(43px, 50px, bold);
    margin: 0;
  }

  @media (min-width: $screen-desktop) {
    @include font-set(53px, 57px, bold);
  }
}

.weekly-good__subtitle {
  @include font-set(17px, 20px, bold);
  color: $color-primary;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 17px, bold);
    display: block;
    margin-left: auto;
    margin-top: 12px;
    margin-right: 18px;
    width: 90px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $screen-desktop) {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 27px;
    width: 171px;
    order: -1;
  }
}

.weekly-good__text {
  margin-bottom: 21px;
  margin-top: 20px;

  @media (min-width: $screen-tablet) {
    @include font-set(17px, 30px);
    margin: 0;
    padding-bottom: 41px;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 50px;
  }
}

.weekly-good__table {
  @include font-set(15px, 20px);
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;

  @media (min-width: $screen-tablet) {
    margin-bottom: 0;
  }
}

.weekly-good__table-row {
  border-bottom: $border;
}

.weekly-good__option {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 11px;

  @media (min-width: $screen-desktop) {
    padding-bottom: 12px;
  }
}

.weekly-good__value {
  padding: 0;
  padding-left: 17px;

  @media (min-width: $screen-tablet) {
    padding-left: 0;
  }
}

.weekly-good__image-wrapper {
  @media (min-width: $screen-tablet) {
    position: absolute;
    right: 50px;
    top: 125px;
  }

  @media (min-width: $screen-desktop) {
    top: 44px;
    right: 0;
    z-index: -1;
  }
}

.weekly-good__image {
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    width: 333px;
    height: 404px;
  }

  @media (min-width: $screen-desktop) {
    width: 525px;
    height: 636px;
  }
}

.weekly-good__footer {
  color: $color-font;

  @media (min-width: $screen-tablet) {
    width: 292px;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 175px;
  }
}

.weekly-good__price {
  @include font-set(17px, 24px, bold);
  display: block;
  margin-bottom: 26px;
  text-align: center;

  @media (min-width: $screen-tablet) {
    @include font-set(20px, 24px, bold);
    margin-bottom: 34px;
  }
}
