@mixin font-set($size: $font-size, $height: $line-height, $weight: null) {
  font-size: $size;
  line-height: floor($height / $size * 100) / 100;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  width: 100%;
  max-width: $screen-desktop;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }
}
