$font-size: 15px;
$line-height: 24px;
$font-primary: "OpenSans", "Arial", sans-serif;

$black: #000000;
$white: #ffffff;
$color-bg: #f1f1f1;
$color-font: #444444;
$color-icon: #149080;

$color-primary--darkest: #46c1ae;
$color-primary--darker: #56c3b2;
$color-primary--dark: #59d5bc;
$color-primary: #63d1bb;
$color-primary--light: #62d1ba;
$color-primary--lighter: #c8ece7;  // rgba(70, 193, 174, 0.3);

$grey--darker: #bfc0c0;
$grey--dark: #c6c6c6;
$grey: #c7c7c7;            // rgba(68, 68, 68, 0.3)
$grey--light: #e6e6e6;
$grey--lighter: #ececec;
$grey--lightest: #f1f1f1;

$screen-tablet: 768px;
$screen-desktop: 1200px;
