$font-size: 15px;
$line-height: 24px;
$font-primary: "OpenSans", "Arial", sans-serif;

$black: #000000;
$white: #ffffff;
$color-bg: #f1f1f1;
$color-font: #444444;
$color-icon: #149080;

$color-primary--darkest: #46c1ae;
$color-primary--darker: #56c3b2;
$color-primary--dark: #59d5bc;
$color-primary: #63d1bb;
$color-primary--light: #62d1ba;

$grey--darker: #bfc0c0;
$grey--dark: #c6c6c6;
$grey: #e6e6e6;
$grey--light: #ececec;

$border-width: 1px;
$border-type: solid;
$border-color: $grey--light;
$border:$border-width $border-type $border-color;
$border-secondary: $border-width $border-type $grey--dark;;

$screen-tablet: 768px;
$screen-desktop: 1150px;
